.Login-display {
  margin: 0;
  height: 100vh;
  background-image: url(https://miro.medium.com/max/2625/1*eG2MFl0sGRKFmd_USgA_8Q.jpeg);
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}
.Login {
  background-color: rgba(255, 255, 255, 0.9);
  text-align: center;
  height: 28em;
  width: 28em;
  box-shadow: rgba(0, 0, 0, 0.49) 5px 5px 10px 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Logo {
  width: 20em;
}
.button {
  cursor: pointer;
  width: 65% !important;
  background-color: #b32017 !important;
  margin-top: 2% !important;
  align-items: center !important;
}
