nav.navbar {
	background-color: #8e8e8e;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.logo {
	margin: 0;
	height: 5em;
}

.log-out-btn {
	border-style: none !important;
}

.line {
	background-color: #b32017;
	height: 0.3em;
}
